<%# title 'Dashboard'  %>

<div class="container-fluid">
  <div class="row">
    <div class="page-content-dashboard col-lg-12">
      <div class="col-lg-12">
        <h2 class="page-content-dashboard-title"><%#= fa_icon "history" %> History </h2>
        <hr/>
      </div>
    </div>
    <div class="page-content-dashboard block-tags col-lg-6">
      <div class="col-lg-12" style="display: flex;">
        <h2 class="page-content-dashboard-title"><%#= fa_icon "tags" %> Keywords</h2>
      </div>
      <div id="tag_cloud">
        <%# tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
          <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

