$background-color: #f3f9ff;
$roboto-font: 'Roboto', sans-serif;

$white: #fff;
$black: #000;
$background-color: #f3f9ff;
$background-dark-color: #e7f1f7;
$roboto-font: 'Roboto', sans-serif;

$blue-gradient: #1f6a84;
$green-gradient: #1fcf84;
$turquoise-gradient: #54aeff;
$aqua-gradient: #45c7c6;

$gray-box-font: #3d5666;
$blue-gray-font: #546572;
$purple-gray-font: #8083a0;

$footer-background-color: #3d5666;
$dark-footer-background-color: #273842;

$background-sidebar: #2a3f54;
$gray-font-color: #546572;

$small-window: 480px;
$landscape-small-window: 680px;
$tablet-window: 768px;
